# Core ML
pandas
torch
transformers
sentence-transformers

# API and Serving
fastapi
uvicorn[standard]

# User Interface
streamlit

# Monitoring and MLOps
mlflow
prometheus-fastapi-instrumentator
evidently
datasets
transformers[torch]